[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-allauth = "*"
ipython = "*"
beautifulsoup4 = "*"
django-elasticsearch-dsl = "*"
tika = "*"
pyyaml = "*"
oyaml = "*"
lxml = "*"
django-extensions = "*"
urllib3 = "*"
requests = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.9"
